spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://localhost:5432/db_orders
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin

server:
  port: 8080
